<ul class="section-container ">
  <p class="lead text-center" id="subtitle"><strong id="subtitle-text">{{ label }}</strong></p>
    {% for item in items %}
      <li>
        <div class="section-info">
          <div class="section-title">
              {% if item.url and item.url != "" %}
                <a href="{{ item.url }}">{{ item.title }}</a>
              {% else %}
                <div class="section-title-text">{{ item.title }}</div>
              {% endif %}
          </div>
          {% if item.date %}
            <span class="section-badge">{{ item.date }}</span>
          {% endif %}
        </div>

        <div class="section-content">
          {% if item.subtitle %}
            <div><strong>{{ item.subtitle }}</strong></div>
          {% endif %}

          {% if item.description %}
            <p>{{ item.description }}</p>
          {% endif %}
        </div>
      </li>
    {% endfor %}
</ul>